<h1>Charts</h1>

<%= line_chart @gameweek_scores.map { |team|
    {
      name: team[:name],
      data: team[:data],
    }
}, height: "700px", min: -6, xtitle: "Gameweek", ytitle: "Points", curve: false %>
