<% provide(:title, 'Leaderboard') %>
<h1>Leaderboard</h1>

<%= will_paginate %>

<div class="list">
  <li>
    <table class='nice-table striped'>
      <thead>
        <tr>
          <th style=''>team</th>
          <th style=''>score</th>
        </tr>
      </thead>
      <tbody>
        <%= render @teams.sort_by { |team| -JSON.parse(team['gameweek_scores']).values.inject(:+) } %>
      </tbody>
    </table>
  </li>
</div>

<%= will_paginate %>
