<% provide(:title, 'All teams') %>
<h1>All teams</h1>

<%= will_paginate %>

<div class="list">
  <li>
    <table class='nice-table striped'>
      <thead>
        <tr>
          <th style=''>team</th>
          <th style=''>points</th>
        </tr>
      </thead>
      <tbody>
        <%= render @teams.sort_by { |team| -JSON.parse(team['gameweek_points']).values.inject(:+) } %>
      </tbody>
    </table>
  </li>
</div>

<%= will_paginate %>
