<% provide(:title, 'All teams') %>
<h1>All teams</h1>

<%= will_paginate %>

<ul class="list">
  <%= render @teams.sort_by { |team| -JSON.parse(team['gameweek_points']).inject(:+) } %>
</ul>

<%= will_paginate %>
