<% provide(:title, 'Leaderboard') %>
<h1>Leaderboard</h1>
<%= link_to "Cumulative score chart", charts_path %>

<div class="list">
  <li>
    <table class='nice-table striped'>
      <thead>
        <tr>
          <th class ="team">Team</th>
          <th>W</th>
          <th>D</th>
          <th>L</th>
          <th>TW</th>
          <th>BW</th>
          <th>>60</th>
          <th>W5</th>
          <th>Pts</th>
          <th width = 10%>Score</th>
        </tr>
      </thead>
      <tbody>
        <%= render @teams.sort { |a, b| [b['gameweek_scores'].values.inject(:+), b['gameweek_points'].values.inject(:+)] <=> [a['gameweek_scores'].values.inject(:+), a['gameweek_points'].values.inject(:+)] } %>
      </tbody>
    </table>
  </li>
</div>

