<% provide(:title, 'Leaderboard') %>
<h1>Leaderboard</h1>

<%= will_paginate %>

<div class="list">
  <li>
    <table class='nice-table striped'>
      <thead>
        <tr>
          <th style="width: 200px">team</th>
          <th>W</th>
          <th>D</th>
          <th>L</th>
          <th>TW</th>
          <th>BW</th>
          <th>>60</th>
          <th>W5</th>
          <th>points</th>
          <th>score</th>
        </tr>
      </thead>
      <tbody>
        <%= render @teams.sort_by { |team| -team['gameweek_scores'].values.inject(:+) } %>
      </tbody>
    </table>
  </li>
</div>

<%= will_paginate %>
