<% provide(:title, @team.name) %>
<div class='title-bar'>
  <div class='main-title'>
    <%= @team.name %>
  </div>
  <div class='title-extra'>
    <%= link_to 'Bids', new_bid_path %>
  </div>
</div>

<h3>
  Manager: <%= @team.user.name %>
</h3>

<ul class="list">
  <%= render @players  %>
</ul>
