<% provide(:title, @team.name) %>
<div class='title-bar'>
  <div class='main-title'>
    <%= @team.name %>
  </div>
  <div class='title-extra'>
    <%= link_to 'Bids', bids_path %>
  </div>
</div>

<div class="list">
  <h3>Manager: <%= @team.user.name %></h3>
  <table class='nice-table striped'>
    <thead>
      <tr>
        <th style=''>player</th>
        <th style=''>position</th>
        <th>pl team</th>
        <th style=''>points</th>
      </tr>
    </thead>
    <tbody>
      <%= render @players %>
    </tbody>
  </table>
</div>
