<div class="center jumbotron">
  <h1>Welcome to Xav's Fantasy Football League</h1>

  <div>
    <%= link_to image_tag("premier-league-logo.png", class: "prem-logo", alt: "Premier League logo"), 'https://fantasy.premierleague.com/', target: 'blank' %>
  </div>

  <div>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
</div>
