<% provide(:title, 'All bids') %>
<div class='title-bar'>
  <div class='main-title'>
    <%= "All bids for #{@team.name}" %>
  </div>
  <div class='title-extra'>
    <%= link_to 'New bid', new_team_bid_url(@team.id) %>
  </div>
</div>

<h3>Summer</h3>
<ul class="list">
  <% @summer_rounds.each do |round| %>
    <%= round %>
  <% end %>
</ul>

<h3>January</h3>
<ul class="list">
  <% @january_rounds.each do |round| %>
    <%= round %>
  <% end %>
</ul>
