<% provide(:title, @premier_league_team.name) %>
<h1>
  <%= @premier_league_team.name %>
</h1>

<ul class="list">
  <% @players.each do |player| %>
    <li>
      <%= player.position %> - 
      <%= link_to player.full_name, player %> - 
      <strong><%= total_player_points(player) %> points</strong>
    </li>
  <% end %>
</ul>
