.image {
  
  width: 120px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgb(55, 230, 230);
  border-radius: 15%;
}

.home {
  width: 60%;
  float: left;
  background-color: rgb(9, 199, 9)

}

.positioning {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.player {
  display: flex;
  flex-direction: column;
  border: none;
}

.name {
  text-align: center;
  font-size: 16px;
  margin-bottom: 15px;
}



.nice-table {
  margin: auto;
  width: 100%;
  max-width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  table-layout: fixed;

  thead > tr > th {
    border-top: 0;
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;

    a {
      text-decoration: none;
      color: #000;

      .icon {
        font-size: 11px;
        padding-left: 2px;
        opacity: 0.2;
      }

      &.active,
      &:hover {
        .icon {
          opacity: 1;
        }
      }
      &.active {
        color: #9751d5;
      }
    }

    &.sortable {
      a {
        cursor: pointer;
      }

      .sort-caret {
        // @include iconfont;
        font-size: 11px;
        padding-left: 5px;
        opacity: 0.2;
      }
    }

    &.sortable .sort-caret:before {
      content: '\e629';
    }

    &.ascending .sort-caret {
      opacity: 1;

      &:before {
        content: '\e628';
      }
    }

    &.descending .sort-caret {
      opacity: 1;

      &:before {
        content: '\e629';
      }
    }
  }

  tbody > tr > td,
  tbody > tr > th,
  thead > tr > th {
    padding: 8px;
    line-height: 1.4;
    vertical-align: top;
    border-top: 1px solid #ddd;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;

    .blank {
      font-size: 14px;
      display: inline-block;
      background-color: #f9f9f9;
      color: #888;
      padding: 2px 5px;
      border-radius: 3px;
      position: absolute;
      margin-left: -5px;
    }

    .bubble {
      display: inline-block;
      padding: 0 7px;
      background-color: #f9f9f9;
      border-radius: 3px;

      &.red {
        color: #fff;
        background-color: rgb(217, 83, 79);
      }
      &.green {
        color: #fff;
        background-color: rgb(131, 188, 53);
      }
    }

    a.fill,
    a.fill-multiple {
      display: inline-block;
      width: 100%;
      &:hover {
        background-color: #f9f9f9;
        border-radius: 3px;
      }
    }

    a.fill-multiple {
      text-decoration: none;

      a {
        text-decoration: none;
      }
    }

    .badge {
      display: inline-block;
      font-weight: normal;
      text-decoration: none;
      font-size: 13px;
      color: #fff;
      padding: 0 6px;
      border-radius: 2px;
      margin-left: 5px;
      background-color: #bbb;

      &.dark-blue {
        background-color: #337ab7;
      }
      &.light-blue {
        background-color: #5bc0de;
      }
    }
  }

  &.striped {
    tbody > tr:nth-of-type(odd) {
      background-color: #f9f9f9;

      .blank {
        background-color: #fff;
      }
    }
  }
}
