<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.name %>
      </h1>
      <%= link_to @user.teams.first.name, @user.teams.first %>
    </section>
  </aside>
</div>
