<tr>
  <td><%= link_to player.common_name, player %></td>
  <td><%= player.position %></td>
  <td><%= link_to player.premier_league_team.name, player.premier_league_team %></td>
  <td><%= total_player_points(player) %></td>
</tr>
