<li>
  <%= link_to player.full_name, player %> -
  <%= player.position %> -
  <%= link_to player.premier_league_team.name, player.premier_league_team %> -
  <strong><%= JSON.parse(player.gameweek_points).inject(:+) %> points</strong>
</li>
