<li>
  <%= link_to player.full_name, player %> -
  <%= player.position %> -
  <%= link_to player.premier_league_team.name, player.premier_league_team %> -
  <strong><%= total_player_points(player) %> points</strong>
</li>
