<% provide(:title, 'All players') %>
<h1>All players</h1>

<%= will_paginate %>

<div class="list">
  <table class='nice-table striped'>
    <thead>
      <tr>
        <th style=''>player</th>
        <th style=''>position</th>
        <th>pl team</th>
        <th style=''>points</th>
      </tr>
    </thead>
    <tbody>
      <%= render @players %>
    </tbody>
  </table>
</div>

<%= will_paginate %>

