<% provide(:title, 'All players') %>
<h1>All players</h1>


<div class="list">
  <table class='nice-table striped'>
    <thead>
      <tr>
        <th>player</th>
        <th>position</th>
        <th>pl team</th>
        <th>points</th>
        <th>available</th>
      </tr>
    </thead>
    <tbody>
      <%= render @players.sort_by { |player| player['premier_league_team_id'] } %>
    </tbody>
  </table>
</div>


