<% if stadium == 'home' %>
  <% players = @match.home_team.current_players.where(position: position) %>
<% else %>
  <% players = @match.away_team.current_players.where(position: position) %>
<% end %>

<% players.each do |player| %>
  <div class="player">
    <% if [@home_captain, @away_captain].include?(player) %>
      <div class="captainimage">
    <% else %>
      <div class="image">
    <% end %>
      <%= link_to image_tag(image_link(player)), player, id: player.id %>
    </div>
    <div class="name">
      <%= player.common_name %>   <%= player_score(player) %>
    </div>
  </div>
<% end %>
