<% provide(:title, 'All matches') %>
<h1>All matches</h1>

<%= will_paginate %>

<div class="list">
  <table class='nice-table striped'>
    <thead>
      <tr>
        <th style=''>gameweek</th>
        <th style=''>home team</th>
        <th style=''>home score (points)</th>
        <th style=''>away score (points)</th>
        <th style=''>away team</th>
      </tr>
    </thead>
    <tbody>
      <%= render @matches.sort_by { |match| match['gameweek'] } %>
    </tbody>
  </table>
</div>

<%= will_paginate %>

