<% provide(:title, 'All matches') %>
<h1>Results</h1>

<div class="list">
  <table class='nice-table striped'>
    <%= render 'match_table_header' %>
    <tbody>
      <%= render @matches.sort_by { |match| -match['gameweek'] } %>
    </tbody>
  </table>
</div>
