// Place all the styles related to the Matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.captainimage {
  background-color: rgba(255, 215, 0, 0.808);
  border-radius: 15% 15% 0% 0%;
}

.image {
  background-color: rgba(55, 230, 230, 0.8);
  border-radius: 15% 15% 0% 0%;
}

.home {
  width: 560px;
  float: left;
  margin-right: 5px;
}

.away {
  width: 560px;
  float: right;
  margin-left: 5px;
}

.team-score {
  text-align: center;
  font-size: 30px;
}

.pitch {
  background-image: url(/assets/football-pitch.png);
  background-size: 100% 100%;
}

.positioning {
  display: flex;
  flex-direction: row;

  justify-content: center;
}

.player {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  margin-right: 5px;
  width: 100px;
}

.name {
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  margin-bottom: 15px;
  background-color: rgb(37, 3, 116);
  color: white;
  border-radius: 0% 0% 10% 10%;
  /* white-space: nowrap;
    overflow: hidden; */
}
