// Place all the styles related to the Teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'shared/nice-table';

.title-bar {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.main-title {
  font-size: 50px;
}

.title-extra {
  font-size: 20px;
}
