<footer class="footer">
  <small>
    Xav's Fantasy Football League</a>
    by <a href="http://www.xavierlacey.com/" target="_blank">Xavier Lacey</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
